<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <style>
      .separator {
        padding: 20px 0;
        border-bottom: 1px gray dashed;
      }
    </style>
    <title>Components</title>
  </head>
  <body>
    <div class="separator">
      <i class="icon icon-close"></i>
      <i class="icon icon-edit"></i>
      <i class="icon icon-filter"></i>
      <i class="icon icon-plus"></i>
      <i class="icon icon-print"></i>
      <i class="icon icon-search"></i>
      <i class="icon icon-trash"></i>
    </div>
    <div class="separator">
      <button class="btn btn-default">button default</button>
      <button class="btn btn-primary">button primary</button>
      <button class="btn btn-cta">
        <i class="icon icon-plus"></i>button cta
        <i class="icon icon-plus"></i>
      </button>
      <button class="btn btn-success">button success</button>
      <button class="btn btn-warning">button warning</button>
      <button class="btn btn-error">button error</button>
    </div>
    <div class="separator">
      <fieldset class="field">
        <label for="name">Label</label>
        <input type="text" name="name" placeholder="insert name" />
      </fieldset>
      <fieldset class="field">
        <label for="name">Label</label>
        <input
          type="text"
          name="name"
          placeholder="insert name"
          value="Filled"
        />
      </fieldset>
      <fieldset class="field __error">
        <label for="name">Error</label>
        <input
          type="text"
          name="name"
          placeholder="insert name"
          value="With error"
        />
      </fieldset>
      <fieldset class="field">
        <label for="name">Disabled</label>
        <input type="text" name="name" placeholder="insert name" disabled />
      </fieldset>
      <fieldset class="field">
        <label for="name">Delivery</label>
        <input type="radio" name="name" />
        <label for="name">Salao</label>
        <input type="radio" name="name" />
      </fieldset>
    </div>
  </body>
</html>
