/* DEFAULT STYLE */
.btn {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  background: var(--cl-default);
  border-radius: var(--br-lg);
  color: white;
  font-weight: normal;
}

a.btn {
  text-decoration: none;
  background-color: transparent;
}

.btn .icon-plus {
  background-image: url(../img/svg/icon-plus-white.svg);
}

/* BUTTONS COMUNS */

.btn-default:hover {
  background: var(--cl-default-hover);
}

.btn-default:active {
  background: var(--cl-default-active);
}

.btn-primary {
  background: var(--cl-primary);
}

.btn-primary:hover {
  background: var(--cl-primary-hover);
}

.btn-primary:active {
  background: var(--cl-primary-active);
}

.btn-cta {
  background: var(--cl-cta);
}

.btn-cta:hover {
  background: var(--cl-cta-hover);
}

.btn-cta:active {
  background: var(--cl-cta-active);
}

.btn-cta-link {
  color: var(--cl-cta);
}

.btn-cta-link:hover {
  color: var(--cl-cta-hover);
}

.btn-cta-link:active {
  color: var(--cl-cta-active);
}

/* BUTTONS STATUS */
.btn-success {
  background: var(--cl-success);
}

.btn-success:hover {
  background: var(--cl-success-hover);
}

.btn-success:active {
  background: var(--cl-success-active);
}

.btn-warning {
  background: var(--cl-warning);
}

.btn-warning:hover {
  background: var(--cl-warning-hover);
}

.btn-warning:active {
  background: var(--cl-warning-active);
}

.btn-error {
  background: var(--cl-error);
}

.btn-error:hover {
  background: var(--cl-error-hover);
}

.btn-error:active {
  background: var(--cl-error-active);
}

/* STATUS */
.btn-default.__received {
  background: var(--cl-black-300);
  color: var(--cl-black-600);
  border: 1px solid var(--cl-black-600);
}
.btn-default.__received:hover {
  background: var(--cl-black-200);
}
.btn-default.__received:active {
  background: var(--cl-black-400);
}

.btn-warning.__done {
  background: var(--cl-yellow-300);
  color: var(--cl-yellow-600);
  border: 1px solid var(--cl-yellow-600);
}
.btn-warning.__done:hover {
  background: var(--cl-yellow-200);
}
.btn-warning.__done:active {
  background: var(--cl-yellow-400);
}

.btn-success.__delivered {
  background: var(--cl-green-300);
  color: var(--cl-green-600);
  border: 1px solid var(--cl-green-600);
}
.btn-success.__delivered:hover {
  background: var(--cl-green-200);
}
.btn-success.__delivered:active {
  background: var(--cl-green-400);
}
