/* CONFIG */
@import url("./reset.css");
@import url("./variable.css");

/* UTILS */
@import url("./grid.css");

/* ELEMENTS */
@import url("./text.css");
@import url("./icon.css");
@import url("./button.css");
@import url("./field.css");

/* COMPONENTS */
@import url("./notify.css");
@import url("./table.css");
@import url("./form.css");

/* CONTAINERS */
@import url("./page.css");
@import url("./sidebar.css");
@import url("./footer.css");

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fns-default);
}

body main {
  min-height: 700px;
}

body .table {
  display: none;
}

.form {
  display: none;
}

/* STATE ALL ORDERS */
body[state="all_orders"] .form-add-order {
  display: block;
}
body[state="all_orders"] .form-actions {
  display: flex;
}
body[state="all_orders"] .form-actions .btn-group .btn {
  display: none;
}
body[state="all_orders"] .form-actions .btn-group .btn:first-child {
  display: inline-block;
}
body[state="all_orders"] .table-all-orders {
  display: table;
}

/* NEW ORDER */
body[state="new_order"] .form-new-order {
  display: block;
}
body[state="new_order"] .table-new-order {
  display: table;
}

/* CHECKED ORDER */
body[state="checked_order"] .form-add-order {
  display: block;
}
body[state="checked_order"] .form-all-orders {
  display: block;
}
body[state="checked_order"] .form-actions {
  display: flex;
}
body[state="checked_order"] .form-actions > .row {
  display: none;
}
body[state="checked_order"] .form-actions .btn-group .btn {
  display: inline-block;
}
body[state="checked_order"] .form-actions .btn-group .btn:first-child {
  display: none;
}
body[state="checked_order"] .table-all-orders {
  display: table;
}
