/* CONFIG */
@import url("./reset.css");
@import url("./variable.css");

/* UTILS */
@import url("./grid.css");

/* ELEMENTS */
@import url("./icon.css");
@import url("./button.css");
@import url("./field.css");

/* COMPONENTS */
@import url("./notify.css");
@import url("./table.css");
@import url("./form.css");

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fns-default);
}

body main {
  min-height: 700px;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-information span {
  display: block;
}
